<ul class="pager">
 <% if(page.number-1 < 0 ){%>
<li class="previous disabled"><span>&larr; 上一页</span></li>
<% }else{ %>
<li class="previous"><a href="#/<%= attr %>?page=<%= page.number - 1 %>&size=<%= page.size %>">&larr; 上一页</a></li>
<% } %>

<% for(var i = 0 ; i < page.totalPages ; i++){%>
	<% if(i == page.number) {%>
	<li class="active"><span><%= i+1 %><span class="sr-only">(本页)</span></span></li>
	<%}else{%>
	<li><a href="#/<%= attr %>?page=<%= i %>&size=<%= page.size %>" data-page="<%= i %>"><%= i+1 %></a></li>
	<%}%>

<% } %>


<% if(page.number+1 >= page.totalPages ){%>
<li class="next disabled"><span>下一页 &rarr;</span></li>
<% }else{ %>
<li class="next"><a href="#/<%= attr %>?page=<%= page.number + 1 %>&size=<%= page.size %>">下一页 &rarr;</a></li>
<% } %>

</ul>
