<tr>
	<td><%= username %></td>
	<td><%= email %></td>
	<td><%= enabled %></td>
	<td><%= ip %></td>
	<td>
		<button type="button" class="btn btn-danger" id="deleteData" data-id="<%= id %>">删除</button>
		<a href="#/operations/<%= id %>" class="btn btn-info" id="updateData">修改</a>
	</td>
</tr>